p.1{
    font-stretch:ultra-condensed;
}
p.2{
    font-stretch:extra-condensed;
}

p.3{
    font-stretch:condensed;
}

p.4{
    font-stretch:semi-condensed;
}

p.5{
    font-stretch:normal;
}

p.6{
    font-stretch:semi-expanded;
}

p.7{
    font-stretch:expanded;
}

p.8{
    font-stretch:extra-expanded;
}

p.9{
    font-stretch:ultra-expanded;
}




